<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvmup.nbbs.dao.SectionDao">
    <resultMap id="sectionResult" type="section">
        <id property="id" column="id"/>
        <result column="title" property="title"/>
        <result column="announcement" property="announcement"/>
        <association property="partition" javaType="partition">
            <id property="id" column="partition_id"/>
            <result property="title" column="partition_title"/>
        </association>
        <collection property="sectionOwner" ofType="user">
            <result column="user_nickname" property="nickname"/>
            <result column="user_sex" property="sex" typeHandler="com.jvmup.nbbs.util.SexTypeHandler"/>
            <result column="user_avatar" property="avatar"/>
            <result column="user_createTime" property="createTime"/>
        </collection>
    </resultMap>
    <update id="updateSection">
        update section
        <set>
            <if test="title!=null and title !=''">
                title = #{title},
            </if>
            <if test="announcement!=null and announcement!=''">
                announcement = #{announcement},
            </if>

        </set>
        where id=#{id}
    </update>
    <select id="getSectionById" resultMap="sectionResult">
        select section.id,section.partition_id,section.title,section.announcement,
        bbs_partition.title as partition_title,user.nickname as user_nickname,user.sex as user_sex,user.avatar as user_avatar,user.create_time as createTime
         from section left join bbs_partition on section.partition_id=bbs_partition.id left join admin_section on admin_section.section_id=section.id left join user on user.id = admin_section.user_id
         where section.id=#{id};
    </select>
    <insert id="addSection" useGeneratedKeys="true" keyProperty="id">
        insert into section (title, announcement, partition_id) values (#{title},#{announcement},#{partition.id});
    </insert>
    <update id="changeSectionPartition">
        update section set partition_id = #{partitionId} where id=#{id}  ;
    </update>
    <select id="getNestingSection" resultMap="sectionResult">
         select section.id,section.partition_id,section.title,section.announcement,
        bbs_partition.title as partition_title,user.nickname as user_nickname,user.sex as user_sex,user.avatar as user_avatar,user.create_time as createTime
         from section left join bbs_partition on section.partition_id=bbs_partition.id left join admin_section on admin_section.section_id=section.id left join user on user.id = admin_section.user_id
    </select>
    <select id="getAllSection" resultType="section">
        select * from section;
    </select>
    <select id="getSectionByPartitionId" resultMap="sectionResult">
        select section.id,section.partition_id,section.title,section.announcement,
        bbs_partition.title as partition_title,user.nickname as user_nickname,user.sex as user_sex,user.avatar as user_avatar,user.create_time as createTime
         from section left join bbs_partition on section.partition_id=bbs_partition.id left join admin_section on admin_section.section_id=section.id left join user on user.id = admin_section.user_id
         where partition_id=#{partitionId};
    </select>
    <select id="permission" resultType="int">
        select count(*) from admin_section where section_id=#{sectionId} and user_id=#{userId}
    </select>
</mapper>
