<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvmup.nbbs.dao.UserDao">
    <resultMap id="otherUserResult" type="user">
        <result property="nickname" column="nickname"/>
        <result property="sex" column="sex" typeHandler="com.jvmup.nbbs.util.SexTypeHandler"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <resultMap id="userResult" type="user" autoMapping="true">
        <result column="sex" property="sex" typeHandler="com.jvmup.nbbs.util.SexTypeHandler"/>
        <result column="create_time" property="create_time"/>
        <collection property="fanList" ofType="user" columnPrefix="fans_" resultMap="otherUserResult"/>
        <collection property="blackList" ofType="user" columnPrefix="black_" resultMap="otherUserResult"/>
        <collection property="followList" ofType="user" columnPrefix="follow_" resultMap="otherUserResult"/>
    </resultMap>
    <select id="getIdByNickname">
        select id from user where nickname =#{nickName}
    </select>
    <update id="updateUserInfo" parameterType="user">
        update user
        <set>
            <if test="sex != null">sex=#{sex}</if>
            <if test="phone != null and phone != ''">phone = #{phone}</if>
            <if test="signature !=null and phone != ''">signature = #{signature}</if>
            <if test="avatar !=null and avatar != ''">avatar = #{avatar}</if>
        </set>
        where id= #{id}
    </update>
    <update id="updateMail">
        update user <set><if test="email!=null and email !=''"> email=#{email}</if></set> where id= #{id}
    </update>
    <update id="updatePassword">
        update user <set><if test="password != null and password !=''">password = #{password}</if></set> where password = #{password}
    </update>

    <update id="updateEx">
        update user set ex = ex+#{num} where id = #{id}
    </update>

    <update id="updateStatus">
        update user set status = #{status} where id =#{id}
    </update>

    <select id="getUserInfo">
        select u1.avatar, u1.nickname,u1.email,u1.sex,u1.signature,u1.ex,u1.create_time,u1.phone from use u1 where u1.id = #{id}
    </select>

    <select id="getFansNum" resultType="int">
        select count(*) as num from user_fans where user_fans.fllowed_id=#{id}
    </select>
    <select id="getFans" resultMap="userResult">
        select sex as fans_sex,nickname as fans_nickname,create_time as fans_createTime,avatar as fans_avatar from user_fans left join user on user.id= user_fans.fllowed_id where user_fans.fllowed_id = #{id}
    </select>
    <select id="getFollowNum" resultType="int">
        select count(*) as num from user_fans where user_fans.fllow_id=#{id}
    </select>
    <select id="getFollows" resultMap="userResult">
        select sex as follow_sex,nickname as follow_nickname,create_time as follow_createTime,avatar as follow_avatar from user_fans left join user on user.id= user_fans.fllowed_id where user_fans.fllowed_id = #{id}
    </select>
    <select id="getBlackNum" resultType="int">
        select count(*) as num from user_black where user_black.black_id=#{id}
    </select>
    <select id="getBlack" resultMap="int">
        select sex as black_sex,nickname as black_nickname,create_time as black_createTime,avatar as black_avatar from  user_black left join user on user.id = user_black.blacked_id where user_black.black_id = #{id}
    </select>
    <insert id="addFans">
        insert into user_fans (fllow_id, fllowed_id) values (#{reqId},#{desId});
    </insert>
    <insert id="addBlack">
        insert into user_black (black_id, blacked_id) values (#{reqId},#{desId});
    </insert>
    <insert id="addFollow">
        insert into user_fans (fllowed_id, fllow_id) values (#{reqId},#{desId});
    </insert>
    <insert id="addWord">
        insert into user_word (user_id, word) values (#{userId},#{word});
    </insert>
    <delete id="removeFans">
        delete from user_fans where fllow_id=#{reqId} and fllowed_id=#{desId}
    </delete>
    <delete id="removeBlack">
        delete from user_black where black_id=#{reqId} and blacked_id=#{desId}
    </delete>
    <delete id="removeFollow">
        delete from user_fans where fllowed_id=#{reqId} and fllow_id=#{desId}
    </delete>
    <delete id="removeWord">
        delete from user_word where user_id=#{userId} and word = #{word}
    </delete>
    <insert id="addUser" keyProperty="id" useGeneratedKeys="true">
        insert into user(nickname, email, password) values (#{nickname},#{email},#{password})
    </insert>
    <insert id="sdf">
        insert into user_black(black_id, blacked_id) values ()
    </insert>
</mapper>
